<form #cadastroForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Cadastre-se</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input type="text"
           class="form-control"
           name="name"
           [(ngModel)]="model.name"
           placeholder="Nome Completo"
           required
           [class.is-invalid]="cadastroForm.submitted && !cadastroForm.controls['name']?.valid">
    <div class="invalid-feedback">Nome é obrigatório.</div>
    <label>Nome</label>
  </div>
  <div class="mb-3 form-floating">
    <input type="text"
           class="form-control"
           name="login"
           [(ngModel)]="model.login"
           placeholder="Login"
           required
          [class.is-invalid]="cadastroForm.submitted && !cadastroForm.controls['login']?.valid">
      <div class="invalid-feedback">Login é obrigatório.</div>
    <label>Login</label>
  </div>
  <div class="mb-3 form-floating">
    <input type="password"
           class="form-control"
           name="password"
           [(ngModel)]="model.password"
           placeholder="Senha"
           required
           [class.is-invalid]="cadastroForm.submitted && !cadastroForm.controls['password']?.valid">
    <div class="invalid-feedback">Senha é obrigatório.</div>
    <label>Senha</label>
  </div>
  <div class="mb-3 form-floating">
    <input type="text"
           class="form-control"
           name="email"
           [(ngModel)]="model.email"
           placeholder="E-Mail"
           required
           [class.is-invalid]="cadastroForm.submitted && !cadastroForm.controls['email']?.valid">
      <div class="invalid-feedback">Email é obrigatório.</div>
    <label>E-mail</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit" [disabled]="!cadastroForm.valid">Salvar</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancelar</button>
  </div>
</form>
