/* Container principal */
.container {
  display: flex;
  height: 100vh;
}

/* Estilização da Lista de Contatos */
.contact-list {
  width: 35%;
  padding: 0px 20px 0px 0px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Navbar no topo da lista de contatos */
.navbar {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

/* Área de busca estilizada */
.search-bar {
  display: flex;
  margin-bottom: 10px;
}

  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.clear-btn {
  background-color: #555;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px 2px 5px 2px;
}

/* Contatos com alternância de fundo */
.contacts {
  margin-top: 10px;
  width: 100%;
}

.contact-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

  .contact-card:hover {
    background-color: #e0e0e0;
  }

.avatar {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contact-info h4 {
  margin: 0;
  font-size: 16px;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Estilização da Área do Mapa */
.map-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.edit-btn {
  background-color: #555;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px 2px 5px 2px;
}
